<launch>

  <!-- Read in the URDF model of our robot. -->
    <param name="robot_description" command="$(find xacro)/xacro.py '$(find hal)/urdf/hal.xacro'" />

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
       
  <!-- beagle_bot launch -->
    <node name="arduino" pkg="hal" type="arduino1.py" output="screen">
    <rosparam file="$(find hal)/config/hal.yaml" command="load" />
    </node>

  

  
 
   
</launch>
